@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
  --primary-color: #ebc43d;
  --dark-color: #161616;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
html,body{
  overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}
body{
  background-color:  var(--primary-color) !important;
}
  
  /* Utility Classes */

  .text-primary{
    color: var(--primary-color) !important;
  }

  .bg-primary{
    background-color: var(--primary-color) !important;
    
  }

  .bg-dark{
    background-color: var(--dark-color) !important;
  }
.fw-boldest{
    font-weight: 800;
}
.h-max-content{
    height: max-content !important;
}
.w-130{
  width: 130px !important;
}
.text-xs{
  font-size: 11px !important;
}
.text-sm{
  font-size: 14px !important;
}
/* Nav bar styles */

.nav-link.active {
  position: relative;
}

.nav-link.active::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: black;
  transform: translateX(-50%);
  box-shadow: -10px 0 0 rgba(22, 22, 22, 0.5), 10px 0 0 rgba(22, 22, 22, 0.5);
}


/* Regular Classes */
.motion{
  height: 100vh;
}

.navbar-collapse.show{
  transition: all 0 ease;
  background-color: var(--primary-color) !important;
}
.navbar-collapse.show .navlink{
  padding-left: 20px !important;
}

.vision-mission{
  width: 100px;
}

.counter {
  transition: all 0.3s ease-out;
}

.even-card {
  animation: float-up-down 4s ease infinite;
}

.odd-card {
  animation: float-down-up 4s ease infinite;
}

footer{
  background-color: rgba(0,0,0,0.2);
  padding: 0;
}
.footer-image{
  width: 200px;
  height: 100%;
  margin-top: -20px;
}

.chevron-ul ul{
  list-style: none;
  padding: 0;
}
.chevron-ul ul li{
  position: relative;
  padding-left: 25px;
}

.chevron-ul ul li::after{
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 20px;
  height: 20px;
  background-image: url("/assets/icons/chevron.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* EOL -2 Section */

.notebook,.shirt,.pen{
  position: relative;
  }
.notebook img{
  position: absolute;
  top: -23px;
  height: 110%;
  left: 0;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.shirt img{
  position: absolute;
  left: 0;
  top: -26px;
  height: 110%;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  z-index: 1;

}

.pen img{
  position: absolute;
  top: 0;
  left: -37px;
  width: 120%;
  height: 100%;
  object-fit: cover;
  clip-path: inset(0 20px 0 0);
  z-index: 2;
}

/* Animation */
@keyframes float-up-down {
  0%{
    transform: translateY(-40px);
  }
  50%{
    transform: translateY(40px);
  } 
  100%{
    transform: translateY(-40px);
  }
}

@keyframes float-down-up{
  0%{
    transform: translateY(40px);

  }
  50%{
        transform: translateY(-40px);

  }
  100%{
    transform: translateY(40px);
    
  }
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}


/* Media Queries */
@media screen and (max-width: 768px) {
  .navigation{
    position: relative !important;
  }
  .motion{
  height: auto;
  width: 100vw !important;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}
  .footer-image{
    width: 120px;
    height: 100%;
  }
  .footer-text{
    font-size: 12px !important;
  }
}
